{% extends 'base.html' %}
{% block title %}Про автора{% endblock %}
{% block content %}
<div class="author-page">
  <div class="author-hero">
    <div class="author-content">
      <div class="author-avatar-wrapper">
        <div class="author-avatar">
          <img
            src="/media/posters/photo_2026-02-03_14-06-25.jpg"
            alt="Фото автора"
          />
        </div>
        <div class="author-status" title="Available for work"></div>
      </div>

      <div class="author-info">
        <h1 class="author-name">Володимир Міщенко</h1>
        <p class="author-role">Full-stack розробник</p>

        <div class="author-details">
          <div class="author-detail-item">
            <span class="author-detail-icon">📍</span>
            <span>Нікополь , Україна</span>
          </div>
          <div class="author-detail-item">
            <span class="author-detail-icon">🎯</span>
            <span>Full-stack розробка</span>
          </div>
          <div class="author-detail-item">
            <span class="author-detail-icon">🎬</span>
            <span>Кіно, програмування</span>
          </div>
          <div class="author-detail-item">
            <span class="author-detail-icon">📧</span>
            <span>vmishchenko2013@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="author-bio-section">
    <h3>Про мене</h3>
    <p>
      Вітаю на моєму персональному сайті! Мене звати Володимир Міщенко, я
      проживаю у місті Нікополь і наразі навчаюся на програміста. Сфера IT
      приваблює мене можливістю створювати з нуля нові та цікаві цифрові
      продукти. Програмування є моїм головним захопленням, якому я активно
      присвячую свій час уже протягом 6 років.
    </p>
    <p>
      У роботі та навчанні мені допомагають такі особисті якості, як
      креативність, допитливість та наполегливість. Вони дозволяють знаходити
      нестандартні рішення для складних завдань, постійно вивчати нові
      технології та завжди доводити розпочаті проекти до успішного завершення.
    </p>
    <p>
      Окрім кодингу та інтелектуальної праці, я приділяю значну увагу фізичному
      розвитку. Регулярні тренування у спортзалі — це моє постійне хобі, яке
      допомагає підтримувати високий рівень дисципліни, енергії та концентрації,
      що позитивно впливає і на продуктивність у розробці.
    </p>
  </div>
</div>
{% endblock %}
